<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    <h1>Task List</h1>
    <br>
    <div>
        <input type="text" id="name" name="name" placeholder="Enter task name" />
        <button hx-post="/todo/" hx-target="#taskTable" hx-swap="beforeend" hx-include="[name='name']">Add Task</button>
    </div>

    <table border="1" id="taskTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <div hx-get="/fetch-tasks" hx-target="#taskTable" hx-trigger="load" hx-swap="beforeend"></div>

</body>
</html>
